# Environment
.env

# Python
__pypackages__/
*.py[cod]
*.pyd
*.so
build/
dist/
downloads/
eggs/
.eggs/
*.egg-info/

# Virtual environments
venv/
.venv/

# IDE
.idea/
.vscode/
*.swp
*~

# Testing
.pytest_cache/
.coverage
htmlcov/

# Database
*.db
*.sqlite
*.sqlite3
fpt_local.db

# Logs
*.log
logs/